.MenuToggle {
  position: absolute;
  top: 60px;
  left: 110px;
  cursor: pointer;
  color: #fff;
  transition: 0.22s linear;
  z-index: 20;
}

.open {
  left: 330px;
}

@media screen and (max-width: 468px) {
  .MenuToggle {
    left: 60px;
  }
  .open {
    left: 250px;
  }
}
