.Button {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 15px;
  font-size: 0.9rem;
  transition: linear 0.22s;
  font-weight: bold;
  outline: none;
  color: #fff;
  margin-bottom: 7px;
}

.Button:hover {
  box-shadow: 0 0 3px black;
}

.Button:active {
  box-shadow: inset 0 0 2px black;
}

.FinishQuiz_repeat {
  margin-right: 10px;
  background-color: #14b856;
}

.FinishQuiz_all-test {
  background-color: #74a803;
}

.signin {
  background-color: #7ddb1f;
  margin-top: 10px;
  margin-right: 5px;
}

.signup {
  background-color: #1f80db;
}

.createquiz {
  background-color: #7ddb1f;
  margin-top: 10px;
  margin-right: 5px;
}

.addanswer {
  background-color: #1f80db;
  margin-top: 10px;
  margin-right: 5px;
}
