.QiuizCreate {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.QiuizCreate > div {
  width: 600px;
  margin-top: 200px;
  padding: 10px;
}

.QiuizCreate h2 {
  color: #fff;
  margin: 0;
  padding-bottom: 20px;
}

.QiuizCreate form {
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 10px;
  background-color: darkgray;
  box-shadow: 0 0 4px #bababa;
}
