.Input {
  display: flex;
  flex-direction: column;
}

.Input input {
  outline: none;
  width: 100%;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  font-size: 1rem;
}

.Input label {
  color: #000;
  margin-bottom: 4px;
  margin-top: 10px;
  font-size: 0.8rem;
}

.Input span {
  margin: 0;
  margin-top: 3px;
  font-size: 0.7rem;
  color: red;
}
